@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background-color: #202020;
    border-top: 1px solid #aaa;
    padding: 12px 15px 40px 15px;
    display: flex;
    justify-content: space-between;

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        .las {
            color: #eee;
            font-size: 30px;
        }

        &-link {
            text-decoration: none;
            color: #eee;
            font-size: 10px;
            font-weight: 300;
        }

        // &:hover {
            
        //     .las, .mobile-navbar-button-link {
               
        //     }
        // }
    }
}
  